.container-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  margin-top: 32px;
  margin-bottom: 32px;
  width: 166px;
  height: 96px;
}

.logo {
  width: 57.84px;
  height: 57.73px;
  left: 53.68px;
}

.container-logo h2 {
  color: #252531;
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 700;
  margin-top: 11px;
}
